<ion-header [translucent]="true">
  <ion-title>
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
</ion-header>

<div class="img">
<img src="assets/img/logolocalpet.png"/>
</div>

<div class="text">
<h1> Cadastre-se </h1>
</div>

<div class="login">
<p>COLOQUE SEU NOME</p>

  <ion-item>
  <ion-input placeholder="gilson santos" type="text" [(ngModel)]="vnome"></ion-input>
  </ion-item>

  <p>COLOQUE SEU EMAIL</p>
  <ion-item>
  <ion-input placeholder="seuemail@gmail.com" type="text" [(ngModel)]="vemail"></ion-input>
</ion-item>

<p>COLOQUE SUA SENHA</p>

  <ion-item>
  <ion-input placeholder="4-8 caracteres" type="password" [(ngModel)]="vsenha"></ion-input>
  </ion-item>

<p>ADICIONE SUA LOCALIZAÇÃO</p>

  <ion-item>
  <ion-input placeholder="Lorena" type="text" [(ngModel)]="vlocalizacao"></ion-input>
  </ion-item>
</div>

 <ion-button (click) = "autenticar()">Cadastrar</ion-button>
 <ion-label>{{mensagem}}</ion-label>

</ion-content>
