<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start"></ion-buttons>
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inteiro">

     <div class="top">
       <div class="container">

      <ion-icon name="settings-outline"></ion-icon>
      <b><p>Configurações</p></b>

       </div>
       <ion-searchbar color="dark" clearInput></ion-searchbar>

     </div>

  <div class="bottom">
   <div class="simb">
    <div class="um">
    <ion-icon name="notifications-outline"></ion-icon> <p>Notificações</p>
    </div>

    <div class="dois">
    <ion-icon name="alert-outline"></ion-icon>  <p>Ajuda</p>
    </div>

    <div class="tres">
    <ion-icon name="star-outline"></ion-icon>  <p>Avaliações</p>
    </div>

    <div class="quatro">
    <ion-icon name="person-circle-outline"></ion-icon>  <p>Conta</p>
    </div>

    <div class="cinco">
    <ion-icon name="alert-circle-outline"></ion-icon> <p>Sobre</p>
    </div>
  </div>

  </div>


  </div>

</ion-content>
