<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start"></ion-buttons>
          <ion-menu-button  menu="main-menu"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="cima">
     <ion-icon name="color-wand-outline"></ion-icon>
     <p><b>Avisos da comunidade</b></p>
    </div>
    <ion-searchbar color="dark" clearInput></ion-searchbar>
  </div>
  <br>
  <div class="titulo">
    <p>Pet desaparecido</p>
  </div>
  <div class="logo">
    <img src="assets/img/iconeimg.png">
  </div>
  <br>
  <div class="cinza1">
  <div class="coment1">
    <ion-icon name="location-outline"></ion-icon>
    <h2>Dudinha gamer</h2>
   </div>
   <br>
  <div class="coment2">
    <ion-icon name="location-outline"></ion-icon>
    <h2>Dudinha noob</h2>
  </div>
</div>

<br><br>

</ion-content>

