<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start"></ion-buttons>
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="cima">
      <b><ion-icon name="chatbox-ellipses-outline"></ion-icon></b>
      <p><b>Fórum de notícias</b></p>
    </div>
    <div class="barra">
      <ion-searchbar color="dark" clearInput></ion-searchbar>
      </div>
  </div>
  <div class="comentao">
  <div class="coment">
    <ion-icon name="person-circle-outline"></ion-icon>
    <h1><b>ADMINISTRADOR</b></h1>
  </div>
    <h1 class="title">NÚMERO DE CÃES E GATOS EM SITUAÇÃO DE VULNERABILIDADE DOBRA EM DOIS ANOS, APONTA PESQUISA.</h1>
      <h1 class="subtitle">O número de animais de estimação em condição de vulnerabilidade mais do que dobrou no Brasil entre os anos de 2018 e 2020. Esse é um dos resultados da mais recente pesquisa Animais em Condição de Vulnerabilidade (ACV), realizada a cada dois anos pelo Instituto Pet Brasil (IPB).
        <br><br>
        No primeiro levantamento, que teve como ano base 2018, o número de animais em condição de vulnerabilidade chegou a 3,9 milhões no País. Já em 2020, ano do início da pandemia, esse número saltou para 8,8 milhões – um crescimento de 126%.
        <br><br>
        A pesquisa considera como ACVs aqueles que vivem sob tutela das famílias classificadas abaixo da linha de pobreza, ou que vivem nas ruas, mas recebem cuidados de pessoas ao redor. Do total da população ACV, cães representam 69,4% (6,1 milhões), enquanto os gatos correspondem a 30,6% (2,7 milhões). Em 2018, cães eram 69% (2,69 milhões), enquanto os gatos correspondiam a 31% (1,21 milhão).
        <br><br>
        Para fins de comparação, a população pet no Brasil é de cerca de 144,3 milhões de animais, entre cães, gatos, peixes, aves e répteis e pequenos mamíferos. A maioria é de cachorros (55,9 milhões) e felinos (25,6 milhões), num total de 81,5 milhões de animais. Desses, 10,8% são Animais em Condição de Vulnerabilidade, o que representa os 8,8 milhões de pets.
        <br><br>
        <br> <b> Para mais informações acesse: </b> <br><br> <span style="text-decoration: underline;"> <a style="color: #FCE69E;" href="https://caesegatos.com.br/numero-de-caes-e-gatos-em-situacao-de-vulnerabilidade-dobra-em-dois-anos-aponta-pesquisa/"> https://caesegatos.com.br/numero-de-caes-e-gatos-em-situacao-de-vulnerabilidade-dobra-em-dois-anos-aponta-pesquisa/ </a> </span>
      </h1>
</div>

</ion-content>

