<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start"></ion-buttons>
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="cima">
   <ion-icon name="chatbox-ellipses-outline"></ion-icon>
   <p><b>Adotando um Amigo</b></p>
    </div>
    <img src="assets/img/adocao2.png">
  </div>
  <br><br>
  <div class="texto">
     <h1><b>Então, como adotar? </b></h1>
     <br>
     <h3>No ato da adoção, a pessoa interessada em levar para casa um animal de estimação passa por uma breve entrevista que garante que o animal será adequado ao espaço físico e à composição familiar da nova casa. Da mesma forma, é avaliada a capacidade da família em suprir as necessidades do animal, garantindo seu bem estar.
      <br><br>
      Os novos donos desses animais deverão exercer uma guarda responsável, que não implique em um novo abandono. Toda a adoção deve ser feita com muito critério e responsabilidade.
      <br><br>
      O adotante deve ser esclarecido que, ao adotar um animal, a pessoa será responsável por ele durante todo o período de sua vida, alimentando-o, oferecendo abrigo compatível com o porte e temperamento, educando-o, dando assistência veterinária e carinho.
      <br><br>
      E caso a adoção seja feita diretamente da rua para a casa, também é importante passar por esses processos de adaptação sua e de seu animalzinho.
      <br><br>
      Não basta adotar, a população deve-se conscientizar sobre a guarda responsável de animais de estimação!! </h3>
      <br>
     <h1><b>Ok então, a adoção já foi feita e agora, como cuidar dele? </b></h1>
     <br>
     <h3>O RGA(Registro Geral do Animal) identifica o animal e seu proprietário. Procure os estabelecimentos veterinários credenciados para fazer o registro do seu animal.
      <br><br>
      É sempre bom lembrar do uso da coleira e guia sempre que for sair de casa. É segurança para o seu pet e também para os outros que se encontram na rua, e para as pessoas. Se o animal for bravo, utilize também a focinheira e evite agressões.
      <br><br>
      Todo proprietário, deve recolher as fezes de seu animal nas ruas, calçadas e parques. É uma atitude de cidadania e obrigatório por lei!
      <br><br>
      O cachorro deve ter um abrigo confortável, protegido do sol, da chuva e do vento. Já os gatos preferem dormir em locais altos e aconchegantes.
      <br><br>
      Sobre a Vacinação e vermifugação os filhotes devem ser vacinados com 2, 3 e 4 meses de idade e, os adultos, anualmente, com vacina contra a raiva e doenças próprias da espécie.
      <br><br>
      Fornecer rações apropriadas de acordo com a espécie e a idade do animal. Os adultos devem ser alimentados duas vezes ao dia e os filhotes de 4 a 6 vezes ao dia. Mantenha sempre a água limpa e fresca à disposição. Também é de extrema importância recolher os restos de ração do comedouro de seu animal, evitando assim a proliferação de ratos, baratas e formigas.
      <br><br>
      A Castração é uma cirurgia que impede o surgimento de crias indesejadas, diminuindo o abandono e os maus tratos dos animais pelas ruas. Deve ser feita tanto nas fêmeas como nos machos. É possível realizar essa cirurgia em centros de saúde animal em sua cidade, a taxa de preço é baixa e ainda evita muito problema!
      <br><br>
      E como último item mas não menos importante, devemos sempre lembrar que lugar de gato e cachorro é dentro de casa! O acesso a rua é perigo e pode ocasionar em mortes precoces, por envenenamento(mesmo que não proposital), queda, chutado ou em doenças graves como Fiv/Felv/Erlichiose/Raiva Canina, com a castração diminui a vontade do animal de ir pra rua, mas isso não resolve tudo, é importante telar e proteger sua casa! </h3>
      <br>
  </div>
</ion-content>
